.paginationBtns {
  display: flex;
  align-items: center;
  position: relative;
  left: 18%;
  margin: 3rem 0 3rem 0rem;
  width: 60vw;
  height: 30px;
  display: flex;
  justify-content: center;
  list-style: none;
 
}

.paginationBtns a {
  margin: 8px;
  /* height: 20px;
  width: 50px; */
  padding: 10px 17px;
  border-radius: 8px;
  border: 1px solid #618264;
  color: #fff;
  cursor: pointer;
  background-color: #618264;
}

.paginationBtns a:hover {
  color: #618264;
  background-color: #fff;
}
